<form action="<%= path %>" method="post">
  <label for="address">Address:</label>
  <input type="text" id="address" name="address" value="<%= park.address %>" required/>
  <br>

  <label for="capacity">Capacity:</label>
  <input type="text" id="capacity" name="capacity" value="<%= park.capacity %>" required/>
  <br>

  <input type="hidden" name="companyId" value="<%= company.id %>">

  <button type="submit"><%= buttonLabel %></button>
</form>