Company: <%= parkService.place.park.company.name %> - <%= parkService.place.park.address %>
<br>

<%= parkService.work.name %> - <%= parkService.schedule.showFormat() %>
<br>

<% if(user.isCompanyOwner()) { %>
  <a href="<%= parkServiceEditPath %>">Edit</a>
  <a href="<%= parkServiceDeletePath %>">Delete</a>
<% } %>