Work: <%= parkService.name %>
<br>

Company: <%= parkService.place.park.company.name %> - <%= parkService.place.park.address %>
<br>

<% if(user.isCompanyOwner()) { %>
  <a href="<%= parkServiceEditPath %>">Edit</a>
  <a href="<%= parkServiceDeletePath %>">Delete</a>
<% } %>