<form action="<%= path %>" method="post">

  <label for="placeId">Place - </label>
  <select name="placeId">
    <% places.forEach(place => { %>
      <option value="<%= place.id %>">
        <%= place.park.company.name %>: <%= place.park.address %>|
        technique: <%= place.technique.name %>
      </option>
    <% }) %>
  </select>
  <br>

  <label for="work">Work - </label>
  <select name="workId">
    <% works.forEach(work => { %>
      <option value="<%= work.id %>"><%= work.name %></option>
    <% }) %>
  </select>
  <br>

  <label for="date">Date</label>
  <% if (parkService.schedule) { %>
    <input type="datetime-local" id="date" name="date" value="<%= parkService.schedule.formFormat() %>" required>
  <% } else { %>
    <input type="datetime-local" id="date" name="date" required>
  <% } %>
  <br>

  <button type="submit"><%= buttonLabel %></button>

</form>