<form action="<%= path %>" method="post">

  <label for="placeId">Place - </label>
  <select name="placeId">
    <% places.forEach(place => { %>
      <option value="<%= place.id %>"><%= place.park.company.name %>: <%= place.park.address %></option>
    <% }) %>
  </select>
  <br>

  <label for="work">Work - </label>
  <select name="workId">
    <% works.forEach(work => { %>
      <option value="<%= work.id %>"><%= work.name %></option>
    <% }) %>
  </select>
  <br>

  <label for="startDate">Start Date</label>
  <input type="date" name="startDate" required>
  <br>
  
  <label for="endDate">End Date</label>
  <input type="date" name="startDate" required>
  <br>  

  <button type="submit"><%= buttonLabel %></button>

</form>