Address: <%= park.address %>
<br>

Capacity: <%= park.capacity %>
<br>

Company: <%= park.company.name %>
<br>

<a href="<%= placesIndexPath %>">Orderd Places</a>
<% if(userIsCompanyOwner) { %>
  <a href="<%= editParkPath %>">Edit</a>|
  <a href="<%= deleteParkPath %>">Delete</a>
<% } %>